@font-face{
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

*{
  font-family: 'RobotoMono', monospace;
}

body{
  display:flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background-image: linear-gradient(67.2deg, rgb(37, 208, 199) -7.5%, rgb(165, 90, 240) 62.7%);
}